body {
    font-family: Arial, Helvetica, sans-serif;
}

#board {
    width: 80%;
    margin: auto;
}

.action {
    float: left;
    border: 1px solid black;
    background: #cacaca;
    margin: 0.5em;
    padding: 0.5em;
}

.selected {
    background-color: #facfac;
}

/* hack classes */
.clear {
    clear: both;
}
